*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.listWrapper {
  display: flex;
  justify-content: center;  
  align-items: flex-start;  
  gap: 30px;               
}

.centerList {
  list-style: none;
}

.customBorder {
  border: 12px solid rgb(168, 168, 235);
}


.listItems {
  background-color: rgb(168, 168, 235);
  width: 50px;
}
